.container-fluid {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}
.table th button {
  background: transparent;
  border: none;
  padding: 5px;
  margin: 0;
  outline: none;
}
.backgrid .sort-caret {
  min-width: 8px;
}
.backgrid .ascending .sort-caret, .backgrid .descending .sort-caret {
  vertical-align: middle;

}